{% load static %}
{% block content %}
<!doctype html>
    <html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/detailstyle.css' %}">
    <script type="text/javascript" src="{% static 'mainapp/script.js' %}"></script>
    <head>
        <title>{{ hero.hero_name }} Counters, stats, talents, starting items</title>
    </head>
    <body>
        <header class="navbar navbar-default navbar-static-top justify-content-between">
                   
            <a href="{% url 'home' %}">
                <div class="banner">Dota 2 counters</div>
            </a>
            <div class="search">
                <input type="text" placeholder="Search for a hero">
            </div>
    </header>            
        </header>
        <div class="container">
            <div class="hero-header"> 
                <h1 style="color: white; font-size: 26px;">{{ hero.hero_name }}</h1>
                <img src="{{  hero.hero_thumbnail.url }}" alt="" class="hero-image"></img>
                
                <h2 style="color: white;">{{ hero.hero_roles }}</h2>
            </div>
            <div class="counters">
                <div class="counter head">
                    <h2 style="color: wheat;"> {{ hero.hero_name }} is countered by:</h2>
                </div>
                {% for counter in hero.hero_counters.all %}
                <a href="{% url 'hero-details' counter.slug %}" class="hrefs">
                    <div style="background-image: url('{{ counter.hero_thumbnail.url }}');" class="background">
                        <div class="name">
                            {{ counter.hero_name }}
                        </div>
                    </div>
                </a>                
                {% endfor %}
            </div>
            
            <div class="advantages">
                <div class="advantage head">
                    <h2 style="color: wheat; ">{{ hero.hero_name }} counters:</h2>
                </div>
                {% for advantage in hero.hero_advantages.all %}
                <a href="{% url 'hero-details' advantage.slug %}" class="hrefs">
                    <div style="background-image: url('{{ advantage.hero_thumbnail.url }}');" class="background">
                        <div class="name">
                            {{ advantage.hero_name }}
                        </div>
                    </div>
                </a>
                 
                {% endfor %}
            </div>
            <div class="table-holder">
                <table class="talent-table" style="background-color: #7f7979;"> 
                    <tbody class="tbody">
                        <tr>
                            <th colspan="3" style="background-color: #c1bdb3; text-align:center;">Talents</th>
                        </tr>
                        <tr>
                            <td style="border-bottom-width: 1px;border-bottom-style: solid;">{{ hero.hero_talent_left_lvl25 }}</td>
                            <th style="border-left-width: 1px;border-left-style: solid;border-right-width: 1px;border-right-style: solid;border-bottom-width: 1px;border-bottom-style: solid;">25</th>
                            <td style="border-bottom-width: 1px;border-bottom-style: solid;">{{ hero.hero_talent_right_lvl25 }}</td>
                        </tr>
                        <tr>
                            <td style="border-bottom-width: 1px;border-bottom-style: solid;">{{ hero.hero_talent_left_lvl20 }}</td>
                            <th style="border-bottom-width: 1px;border-bottom-style: solid;border-left-width: 1px;border-left-style: solid;border-right-width: 1px;border-right-style: solid;">20</th>
                            <td style="border-bottom-width: 1px;border-bottom-style: solid;">{{ hero.hero_talent_right_lvl20 }}</td>
                        </tr>
                        <tr>
                            <td style="border-bottom-width: 1px;border-bottom-style: solid;">{{ hero.hero_talent_left_lvl15 }}</td>
                            <th style="border-left-width: 1px;border-left-style: solid;border-right-width: 1px;border-right-style: solid;border-bottom-width: 1px;border-bottom-style: solid;">15</th>
                            <td style="border-bottom-width: 1px;border-bottom-style: solid;">{{ hero.hero_talent_right_lvl15 }}</td>
                        </tr>
                        <tr>
                            <td>{{ hero.hero_talent_left_lvl10 }}</td>
                            <th style="border-left-width: 1px;border-left-style: solid;border-right-width: 1px;border-right-style: solid;">10</th>
                            <td>{{ hero.hero_talent_right_lvl10 }}</td>
                        </tr>
                    </tbody>
                    <caption>Dota 2 hero talent table</caption>
                </table>
            </div>
            <div class="recommended-items">
                <h3 style="color: white">Recommended items</h3>
                <div class="item-holder">
                    {% for item in hero.hero_recommended_items.all %}
                        <img src="{{ item.item_image.url  }}" alt="">
                    {% endfor %}
                </div>
            </div>
            

        </div>
           
        <img src="{% static "mainapp/assets/logo_icon.png" %}" alt="">
        
    </body> 
{% endblock content %}
</html>