body{
    background-color: #212121;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: grid;
    grid-template-rows: 2fr;
    margin-top: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.header{
    display: flex;
    background-color: white;
    text-align: center;
    box-shadow: 1px 1px 1px black;
    background-color: #212121;
    color: white;
    position: sticky;
    justify-content: space-between
}

.hero-image{
   height: 100%;
   width: 100%;
   max-height: 170.5px;
   max-width: 340px; 
   border: 2px solid black; 
   
}

.hero-attribute{
    height: 2em;
    width: 2em;
    margin-bottom: -25px;
}

.background{
	display: inline-block;
	width: 120px;
	height: 64px;
	background-size: cover;
	border: 2px solid black;
	
}

.name{
	position: absolute;
	color: white;
	font-size: 10px;
	text-shadow: 0px 0px 2px black;
	z-index: 100;
}

.hrefs{
	width: 120px;
	height: 64px;
	margin: 4px 4px 4px 4px;
}

.hrefs:hover{
	opacity: 0.5;
}

.stats{
    background-color: white;
}

.navbar{
	box-shadow: 1px 1px 1px black;
}

.banner{
	color: white;
}

.counters{
    align-items: center;
}

.tbody{
    font-size: 12px;
}